# Ignore everything
/*

# Except these files
!.gitignore
!README.md

!.vimrc
!.ideavimrc
!.zshrc
!.zsh_profile

# And these .config files
!.config/
.config/*
!.config/alacritty/
!.config/hypr/
!.config/hypr/hyprland/
!.config/i3/
!.config/i3status/
!.config/nvim/
!.config/swaylock/
!.config/wlogout/
!.config/wofi/

# Wow this looks amazing, I love git
!.SynologyDrive/
.SynologyDrive/*
!.SynologyDrive/data/
.SynologyDrive/data/*
!.SynologyDrive/data/session/
.SynologyDrive/data/session/*
!.SynologyDrive/data/session/1/
.SynologyDrive/data/session/1/*
!.SynologyDrive/data/session/1/conf/
.SynologyDrive/data/session/1/conf/*
!.SynologyDrive/data/session/1/conf/blacklist.filter
