* {
    border: none;
    border-radius: 7px;    
}

#window {
    font-size: 20px;
    font-family: "JetBrainsMonoNerdFont";
    color: white;
    background-color: #292D3E;
}

#entry {
    padding: 0.25em;
}

#entry:selected {
    color: #333333;
    background: linear-gradient(90deg, #c3e88d, #c792ea);
}

#text:selected {
    color: #333333;
}

#input {
    padding: 0.25em;

    color: white;
    background-color: #292D3E;
}

#img {
    margin-left: 0.25em;
    margin-right: 0.25em;
}
